@use '../configs/reset.scss';
@use '../matrix/hero.scss';
@use '../matrix/footer';
@use '../matrix/configsInitFont.scss';
@use '../matrix/configsInitColor.scss';
@use '../matrix/containers.scss';
@use '../matrix/produtos';
@use '../matrix/carouselfeedback.scss';
@use '../matrix/carouselLoja.scss';







/*

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

*/